[auth]

# The URL of a KBase auth2 service
url = "{{ SECDB_KBASE_AUTH2_URL or "https://ci.kbase.us/services/auth" }}"

# KBase auth2 custom roles that signify that a user is an admin for the service
# This is a comma delimited list, e.g. "KBASE_ADMIN, SECDB_SERVICE_ADMIN"
admin_roles_full = "{{ SECDB_KBASE_AUTH2_ADMIN_ROLES or "" }}"

[service]
# If the service is behind a reverse proxy that rewrites the service path, that path needs
# to be defined here in order for the OpenAPI documentation to function.
root_path = "{{ SECDB_SERVICE_ROOT_PATH or "" }}"

# A standard Unix 5 item crontab string specifying when to run the ETL process. The server
# time is UTC. The default is Sunday at 8 AM, which is 12 or 1 AM in Pacific time depending on
# daylight savings.
schedule_cron = "{{ SECDB_SCHEDULE_CRON or "* 8 * * sun" }}"

[github]
# Classic Personal Access Token with 'repo' and 'read:packages' scopes. Fine grained tokens
# can work if only the user's own repositories are accessed.
token = "{{ SECDB_GITHHUB_TOKEN or "" }}"

[postgres]
host = "{{ SECDB_POSTGRES_HOST or "" }}"
database = "{{ SECDB_POSTGRES_DB or "" }}"
user = "{{ SECDB_POSTGRES_USER or "" }}"
password = "{{ SECDB_POSTGRES_PWD or "" }}"
port = {{ SECDB_POSTGRES_PORT or 5432 }}

# To add repos, add a new [[repos]] entry with the org, repo, and type keys specified.
# Optional keys are
# main_branch: The main branch from which released are made. Defaults to "main".
# dev_branch: The develop branch. Defaults to "develop". 
# test_workflows: a specifier for how to find which Github Actions correspond to tests.:
#                 Omitted - Use the default regex that looks for "test" or "tests" surrounded by
#                           whitespace, underscores, or hyphens and optionally preceded by a slash
#                           or followed by a period in the action workflow path.
#                           Finds the first action that matches the regex and uses the result for
#                           the test status.
#                 String - As above, but the string contains the regex.
#                 Array[String] - Looks for exact matches on the workflow path to the given
#                                 strings.
#                                 Once it finds a match for a particular string, it stops looking
#                                 for more  matches.

[[repos]]
org = "kbase"
repo = "auth2"
type = "core"
main_branch = "master"

[[repos]]
org = "kbase"
repo = "narrative"
type = "core"
test_workflows = [".github/workflows/build_prodrc_pr.yaml"]

[[repos]]
org = "kbase"
repo = "workspace_deluxe"
type = "core"
main_branch = "master"

[[repos]]
org = "kbase"
repo = "narrative-traefiker"
type = "core"
main_branch = "master"
# There don't appear to be any automated tests

[[repos]]
org = "kbase"
repo = "execution_engine2"
type = "core"

[[repos]]
org = "kbase"
repo = "blobstore"
type = "core"
main_branch = "master"

[[repos]]
org = "kbase"
repo = "handle_service2"
type = "core"
main_branch = "master"

[[repos]]
org = "kbase"
repo = "service_wizard"
type = "core"
main_branch = "master"
# No GHA workflows at all. Planning switch to service wiz 2

[[repos]]
org = "kbase"
repo = "catalog"
type = "core"
main_branch = "master"

[[repos]]
org = "kbase"
repo = "sample_service"
type = "core"
main_branch = "master"

[[repos]]
org = "kbase"
repo = "narrative_method_store"
type = "core"
main_branch = "master"

[[repos]]
org = "kbase"
repo = "user_profile"
type = "core"
main_branch = "master"

[[repos]]
org = "kbase"
repo = "staging_service"
type = "core"
main_branch = "master"

[[repos]]
org = "kbase"
repo = "kb_sdk_plus"
type = "core"
# kb_sdk is no longer developed so not much point putting stats in the dashboard
# or maybe we should...?

[[repos]]
org = "kbase"
repo = "groups"
type = "core"
main_branch = "master"

[[repos]]
org = "kbase"
repo = "relation_engine"
type = "core"

[[repos]]
org = "kbase"
repo = "relation_engine_importers"
type = "core"
main_branch = "master"

[[repos]]
org = "kbase"
repo = "search_api2"
type = "core"
main_branch = "master"

[[repos]]
org = "kbase"
repo = "index_runner"
type = "core"
main_branch = "master"

[[repos]]
org = "kbase"
repo = "file_cache_server"
type = "core"
main_branch = "master"

[[repos]]
org = "kbase"
repo = "feeds"
type = "core"

[[repos]]
org = "kbase"
repo = "auth2_client_java"
type = "support"

[[repos]]
org = "kbase"
repo = "java_common"
type = "support"
main_branch = "master"

[[repos]]
org = "kbase"
repo = "java_test_utilities"
type = "support"

[[repos]]
org = "kbase"
repo = "shock_java_client"
type = "support"
main_branch = "master"

[[repos]]
org = "kbase"
repo = "java_kidl"
type = "support"

[[repos]]
org = "kbaseapps"
repo = "sketch_service"
type = "core"
main_branch = "master"

[[repos]]
org = "jgi-kbase"
type = "core"
repo = "AssemblyHomologyService"
main_branch = "master"

[[repos]]
org = "jgi-kbase"
type = "core"
repo = "IDMappingService"
main_branch = "master"
